<!DOCTYPE html>
<html lang="en">
	<head>
	</head>
	<body>
		<h1><a href="{{url_for('homepage')}}">Item Catalog App</a></h1>
		<!-- Logic for Login Button -->
		{% if 'email' in login_session %}
		<h2><a href="{{url_for('gdisconnect')}}">Logout</a></h2>
		{% else %}
		<h2><a href="{{url_for('showLogin')}}">Login</a></h2>
		{% endif %}
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
				{% for message in messages %}
					<li><strong> {{message}} </strong></li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
		<h2>{{item.name}}</h2>
		<div class="container">
			<p>{{item.description}}</p>
			<h3>
				<a href="{{url_for('editItem', category = item.category, itemname = item.name)}}">Edit</a>
				<a href="{{url_for('deleteItem', category = item.category, itemname = item.name)}}">Delete</a>
			</h3>
			<p>Return to <a href="{{url_for('displayCategory', category = item.category)}}">{{item.category}}</a></p>
		</div>
	</body>
</html>